<div id="share_links" class="text-center" style="display:none;">
  <h2>
    Share to Get Invited Sooner!
  </h2>
  <ul class="list-inline">
    <li>
      <a class="share_url" href="<%= twitter_share_url %>" target="new" onclick="window.open(this.href, '_blank', 'width=600, height=600'); return false;">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x" style="color:#FFFFFF"></i>
        </span>
      </a>
    </li>
    <li>
      <a class="share_url" href="<%= facebook_share_url %>" target="new" onclick="window.open(this.href, '_blank', 'width=600, height=600'); return false;">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x" style="color:#FFFFFF"></i>
        </span>
      </a>
    </li>
    <li>
      <a class="share_url" href="<%= linkedin_share_url %>" target="new" onclick="window.open(this.href, '_blank', 'width=600, height=600'); return false;">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x" style="color:#FFFFFF"></i>
        </span>
      </a>
    </li>
    <li>
      <a class="share_url" href="<%= reddit_share_url %>" target="new">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-reddit fa-stack-1x" style="color:#FFFFFF"></i>
        </span>
      </a>
    </li>
    <li>
      <a class="share_url" href="<%= google_share_url %>" target="new" onclick="window.open(this.href, '_blank', 'width=600, height=600'); return false;">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x" style="color:#FFFFFF"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
