<%
meta title: "Uber for Everything",
  description: "Request an invite to start Ubering everything sooner! Built with love by Brian Petro.",
  keywords: %w(Launch Uber Everything Template),
  og: {
    title: "Attn Facebook: Uber for Everything",
    description: "Request an invite via Facebook to start Ubering Everything!",
    type: "website",
    image: "",
    url: "http://#{ENV['PRODUCTION_DOMAIN']}"
  },
  twitter: {
    title: "Uber Everything with a Tweet!",
    description: "Request an invite via Twitter to start Ubering Everything!",
    card: "summary_large_image",
    site: "@brianpetro_",
    creator: "@brianpetro_"
  } 
%>
<div class="row">
  <div id="header" class="col-sm-12 text-center">
    <h1>
      Our Startup: Uber for Everything
    </h1>
    <h2>
      Seriously, Everything! It's Coming Sooner Than You Think.
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
      <h3>
        Request an Invite
      </h3>
      <div class="alert alert-info" role="alert" style="display: none">
      </div>
      <div class="alert alert-danger" role="alert" style="display: none">
      </div>
      <%= form_for @user, remote: true, html: {"data-type" => 'json'} do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <p><b><%= pluralize(@user.errors.count, "error") %></b> prohibited this request from being saved:</p>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><b><%= message %></b></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :email, 'Email:', class: 'sr-only' %>
          <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'bob@example.com' %>
        </div>
        <div class="form-group text-right">
          <%= f.hidden_field :tracker %>
          <%= f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
        </div>
      <% end %>
      <%= render 'share_links' %>
    </div>
  </div>
</div>
<div id="support" class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, at mollis iracundia sea, eu diam inani dissentiunt nam. Eu delenit mandamus sit, vix esse dicta abhorreant ex, an atqui nullam vel.
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, at mollis iracundia sea, eu diam inani dissentiunt nam. Eu delenit mandamus sit, vix esse dicta abhorreant ex, an atqui nullam vel.
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, at mollis iracundia sea, eu diam inani dissentiunt nam. Eu delenit mandamus sit, vix esse dicta abhorreant ex, an atqui nullam vel.
      </div>
    </div>
  </div>
</div>
