<div id="top-row" class="row">
  <div class="col-sm-12 text-center">
    <h1>
      Our Startup: Uber for Everything
    </h1>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          Request an Invite
        </div>
      </div>
      <div class="panel-body">
        <div class="alert alert-info" role="alert" style="display: none">
        </div>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <p><b><%= pluralize(@user.errors.count, "error") %></b> prohibited this request from being saved:</p>

              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><b><%= message %></b></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :email, 'Email:' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group text-right">
            <%= f.hidden_field :tracker %>
            <%= f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
